@tailwind base;
@tailwind components;
@tailwind utilities;

/* ✅ Глобальні стилі для запобігання зайвому скролу */
html,
body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
  box-sizing: border-box;
  background: #f0f6ff;
}

#root {
  width: 100%;
  height: 100%;
  overflow: hidden;
}

@media (max-width: 359px) {
  .explanation-xs-font {
    font-size: 0.9rem !important;
  }
}

@keyframes successPulse {
  0% {
    background: #fff;
    border-color: #fff;
  }
  30% {
    background: #6ee7b7;
    border-color: #047857;
  }
  60% {
    background: #bbf7d0;
    border-color: #047857;
  }
  100% {
    background: #fff;
    border-color: #fff;
  }
}
.animate-successPulse {
  animation: successPulse 0.22s cubic-bezier(0.4, 0, 0.2, 1);
}

@keyframes errorPulse {
  0% {
    background: #fff;
    border-color: #fff;
  }
  30% {
    background: #fca5a5;
    border-color: #b91c1c;
  }
  60% {
    background: #fecaca;
    border-color: #b91c1c;
  }
  100% {
    background: #fff;
    border-color: #fff;
  }
}
.animate-errorPulse {
  animation: errorPulse 0.22s cubic-bezier(0.4, 0, 0.2, 1);
}
